<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005616863223-31354qv0kfurihmub9divi01b0bqeei8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005616863223-31354qv0kfurihmub9divi01b0bqeei8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005616863223-q3qr74qkqtm0hjgke6lhm77pqj3bevhj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0TpqTMSSSVGTrAuV6lp9wvnYuPdycmX4</string>
	<key>GCM_SENDER_ID</key>
	<string>1005616863223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messangerFlutter</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-9ab41</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-9ab41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005616863223:ios:92742b2c38a18db64e80f2</string>
</dict>
</plist>